.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.navbar-light .navbar-brand
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    display: inline-block;

    width: auto;
}

main img
{
    max-width: 100%;
}

main td
{
    
    text-align: left;
}
.userButton{
    background: transparent;
    outline: none !important;
    border: none;
    height: 40px;
}