<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/-->

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/39c8bc8c71.js" crossorigin="anonymous"></script>

        <!--script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->




        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        
        

        <title>Stock Simulator: {% block title %}{% endblock %}</title>

    </head>
    <style>
        body{
            padding-top:70px;
        }
    </style>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand blue" href="{{ url_for('index') }}">Stock Simulator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if session.user_id %}
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('quote') }}">Quote</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('buy') }}">Buy</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('sell') }}">Sell</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('history') }}">History</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('portfolio') }}">Portfolio</a></li>
                        </ul>
                        <ul class="navbar-nav navbar-right">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('wallet') }}"><i class="fas fa-wallet"></i> ₹{{cash}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('changepass') }}">Change Password</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                        <script id="gs-sdk" src='//www.buildquickbots.com/botwidget/v3/demo/static/js/sdk.js?v=3' key="f58a2472-a896-4713-be7c-d68f059f11f8" ></script>
                    {% else %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log In</a></li>
                        </ul>
                            
                    {% endif %}
                </div>
            </nav>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <header>
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    {{message}}
                             </div>
                        </header>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            


            <main>
                {% block main %}{% endblock %}
            </main>
            
        </div>
        

    </body>

</html>
